.valid {
  border: 2px solid hsla(130, 90%, 70%, 0.8);
}
.invalid {
  border: 2px solid rgb(223, 111, 111);
}

.label_wrap {
  position: relative;
}


.error {
  position: absolute;
  width: 80%;
  top: 70%;
  left: 10%;
  z-index: 2;
  border-radius: 5px;
  text-align: center;
  background-color: lightcoral;
}


.errorSize {
 font-size: 0.9rem;
}