.valid {
  border: 2px solid hsla(130, 90%, 70%, 0.8);
}
.invalid {
  border: 2px solid hsla(0, 80%, 70%, 0.8);
}

.label_wrap {
  position: relative;
}

.error {
  position: absolute;
  width: 80%;
  top: 70%;
  left: 10%;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  background-color: lightcoral;
}

.errorSize {
  font-size: 1.1rem;
}

@media screen and (min-width: 550px) {
  .errorSize {
    font-size: 0.9rem;
  }
}
