.form_signup {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 50px auto;
  color: #fff;
}
.inputs_text {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.inputs_text label {
  display: block;
}

.form_signup .inputs_text input {
  padding: 20px ;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
}

.signup_btn {
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.signup_label {
  display: flex;
  margin: 5px;
  border: 1px solid #fff;
  padding: 20px 0px;
}

.signup_label > :nth-child(odd) {
  width: 5%;
}
.radio_info {
  font-size: 0.8rem;
  
}