.form_signup {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 1rem auto;
  box-sizing: border-box;
}
.title {
  text-align: center;
  font-size: 1.3rem;
  margin: 30px;
}

.title h1 {
  margin-bottom: 10px;
}

.inputs_text {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.inputs_text label {
  display: block;
  width: 100%;
}

input {
  padding: 20px 14px;
  margin: 10px 5px;
  border-radius: 4px;
  font-size: 1.1rem;
  outline: none;
  border: 2px solid #fff;
  width: -webkit-fill-available;
}

.signup_btn {
  border: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  background-color: #28d2d0;
}

.signup_label {
  display: flex;
  align-items: baseline;
  margin: 5px;
  border: 1px solid #fff;
  padding: 10px 0px 25px;
}
.signup_label_title {
  font-weight: 400;
  font-size: 1.4rem;
}

.checbox_label {
  margin: 5px;
}
.checbox_label input {
  width: inherit;
}

.signup_label > :nth-child(odd) {
  width: 5%;
}
.radio_info {
  display: inline;
  padding: 3px 0 0 0;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 550px) {
  .inputs_text {
    justify-content: space-between;
    flex-direction: row;
  }
  .inputs_text label {
    width: inherit;
  }
}
