.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup {
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid#fff;
  text-decoration: none;
  color: #fff;
  }
