.form_signin {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 100px auto;
}

.form_signin label > input {
  width: -webkit-fill-available;
}
.form_signin h1 {
    text-align: center;
    margin: 20px;
}

input {
  padding: 20px;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  border: none;
}

.form_signin > input {
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  font-weight: 600;
  background-color: #28d2d0;
}
